body{
    margin: 0%;
    padding: 0%;
}
header{
    margin: 0%;
    padding: 0%;
}

#titulo{
    margin: 5px;
    color:#ff3b93;
    font-family: 'Gugi', cursive;
    font-weight: lighter;
}
nav{
    margin: 0%;
    width: 100%;
    background-color: #37023a ;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);

}

nav a {
    text-decoration: none;
    color:  #a7fd2a;
    font-family: 'Cute Font', cursive;
    font-size: 27px;
}

.tienda-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-family: 'Gugi', cursive;
    color:#ff3b93;
    
}
#icono{
    color: #a7fd2a;
    
}
.contador-container{
    display: flex;
    flex-direction: column;
    background-color: #ae3dff;
    padding: 5px;
    margin: 10px;
    width: 120px;
    align-items: center;
}
.contador{
    margin: 10px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

button{
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#agregar-carrito{
    padding: 7px;
}

.productos-cont{
    display: flex;
    justify-content: space-evenly;
}

.items{
    border-radius: 10px;
    background-color:#55ffe2;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    margin: 5px;
    padding: 7px;
    text-align: center;
}

.items h3{
        font-family: 'Gugi', cursive;
}

.items p{
    font-family: 'Cute Font', cursive;
    font-size: 20px;
}