body{
    margin: 0%;
    padding: 0%;
}
header{
    margin: 0%;
    padding: 0%;
}

#titulo{
    margin: 5px;
    color:rgb(255, 0, 191);
    font-family: 'Gugi', cursive;
    font-weight: lighter;
}
nav{
    margin: 0%;
    width: 100%;
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: greenyellow;
    font-family: 'Cute Font', cursive;
    font-size: 27px;
}

.tienda-container{
    display: flex;
    justify-content: center;
}
h2{
    font-family: 'Gugi', cursive;
    color:rgb(255, 0, 191);

}
#icono{
    color: greenyellow;

}